# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import sys
sys.executable

'/home/fractaluser/anaconda3/envs/pandas_cub/bin/python'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [8]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [9]:
df

In [10]:
df_final

In [11]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

1. Check data frame input types

In [12]:
d = {10}

In [13]:
pdc.DataFrame(d)

TypeError: 'data' must be a dictionary

In [ ]:
age = np.array([23])
age

In [ ]:
ages = np.arange(15).reshape(3,5)
ages

In [ ]:
d = {'dipam': age}
d

In [ ]:
pdc.DataFrame(d)

2. Check array lengths

In [ ]:
d = {'dipam': np.array([23,24]),
    'saad': np.array([2,3])}

In [ ]:
df = pdc.DataFrame(d)

In [ ]:
len(df)

In [ ]:
df.columns

In [ ]:
df.columns = 3

In [ ]:
df.columns = [1,2,3]

In [ ]:
df.columns = [1,2]

In [ ]:
df.columns = ['a', 'a']

In [ ]:
df.columns

In [ ]:
df.columns

Set new column names

In [4]:
d = {'dipam': np.array([23,24,25]),'saad': np.array([1,2,3]), 'sonam': np.array([10,20,30])}

In [5]:
d

{'dipam': array([23, 24, 25]),
 'saad': array([1, 2, 3]),
 'sonam': array([10, 20, 30])}

In [6]:
d['dipam'][0].dtype.kind

'i'

In [7]:
df = pdc.DataFrame(d)

In [8]:
df

In [9]:
len(df)

3

In [10]:
df.columns

['dipam', 'saad', 'sonam']

In [11]:
# df.columns = ['a', 'b']

In [12]:
# df.columns

In [13]:
df.shape

(3, 3)

In [14]:
df

In [15]:
df.values

array([[23,  1, 10],
       [24,  2, 20],
       [25,  3, 30]])

In [16]:
df.dtypes

In [17]:
# df[1]

In [18]:
df['dipam']

In [19]:
df[['dipam', 'sonam']]

In [20]:
new_df = {'a': np.array([True, False, True])}

In [21]:
df[pdc.DataFrame(new_df)]

In [22]:
df['new_col'] = np.array([5,6,7])

In [23]:
df

In [24]:
df['saad'] = np.array([40,50,60])

In [25]:
df

In [26]:
t = {'bad_col': np.array([1,2,3])}

In [27]:
t

{'bad_col': array([1, 2, 3])}

In [28]:
temp = pdc.DataFrame(t)
temp

In [29]:
# type(temp.values[0][0])

In [30]:
df

In [31]:
df['another_col'] = temp

In [32]:
df.dtypes

In [33]:
df

In [35]:
df['const_col'] = 7

In [36]:
df

In [37]:
df['const_bool'] = True

In [38]:
df['const_float'] = 3.14

In [39]:
df['const_str'] = 'names'

In [40]:
df