# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import sys
sys.executable

'/home/fractaluser/anaconda3/envs/pandas_cub/bin/python'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [5]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [6]:
df

In [7]:
df_final

In [8]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

1. Check data frame input types

In [9]:
d = {10}

In [10]:
pdc.DataFrame(d)

TypeError: 'data' must be a dictionary

In [20]:
age = np.array([23])
age

array([23])

In [23]:
ages = np.arange(15).reshape(3,5)
ages

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [29]:
d = {'dipam': age}
d

{'dipam': array([23])}

In [30]:
pdc.DataFrame(d)

2. Check array lengths

In [4]:
d = {'dipam': np.array([23,24]),
    'saad': np.array([2,3])}

In [5]:
df = pdc.DataFrame(d)

In [6]:
len(df)

2

In [7]:
df.columns

['dipam', 'saad']

In [8]:
df.columns = 3

TypeError: 'columns' must be a list

In [9]:
df.columns = [1,2,3]

ValueError: Number of cols should be same as og dataframe

In [10]:
df.columns = [1,2]

TypeError: All column names must be strings

In [11]:
df.columns = ['a', 'a']

ValueError: Column names must be unique

In [15]:
df.columns

['b']

In [14]:
df.columns

AttributeError: 'list' object has no attribute 'keys'

Set new column names

In [48]:
d = {'dipam': np.array([23]),'saad': np.array([24])}

In [49]:
d

{'dipam': array([23]), 'saad': array([24])}

In [50]:
df = pdc.DataFrame(d)

In [51]:
df

In [44]:
len(df)

1

In [45]:
df.columns

['dipam', 'saad']

In [47]:
df.columns = ['a', 'b']

ValueError: Number of cols should be same as og dataframe